.index-container {
    width: 100%;
    position: relative;
}

.index-content-container {
    width: 100%;
    max-width: 90ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin-top: 6rem;
    position: relative;
    padding: 1.6rem 1.2rem;
}

.index-container p {
    margin: 0;
    padding: 0;
}

.index-container .index-title, .index-container .title-span {
    font-size: 1.6rem;
    font-weight: bold;
}

.index-container .start-game
{
    margin-top: 8rem;
}

.index-container .bar-holder
{
    width: 100%;
    margin-top: 20rem;
    position: relative;
}

.index-container .stop-game 
{
    margin-top: 2rem;
}

.index-container .start-game button, .index-container .stop-game button {
    background-color: #336199;
    color: white;
    border: 0;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.6rem 2.8rem;
    box-shadow: 0 0.25rem 0 #27374D;
    transition: all 0.2s ease-in;
}

.index-container .start-game button:hover, .index-container .stop-game button:hover {
    background-color: #27374D;
    box-shadow: 0 0.25rem 0 #0d1725;
}

.bar-holder .bar {
    width: 90px;
    height: 0.6rem;
    background-color: #fbfdfc;
    position: absolute;
}

.index-canvas {
    z-index: 10;
    position: absolute;
}

.box-hit {
    color: #fbfdfc;
}

.bold-span {
    font-weight: bold;
}